* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, min(170px, 20vw));
    grid-template-rows: repeat(3, min(170px, 20vw));
    gap: 5px;
}

.cell {
    background-color: cornflowerblue;
}