*:not[dialog] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #5A588F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 40px 0 20px 0;
    font-size: clamp(1.5rem, 1rem + 2vw, 2.7rem);
    color: whitesmoke;
}

/* game container */

.game-container {
    display: grid;
    grid-template-columns: repeat(3, min(150px, 20vw));
    grid-template-rows: repeat(3, min(150px, 20vw));
    gap: max(10px, 1.5vw);
    margin-bottom: 20px;
}

.cell {
    background-color: #3731E0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px hsl(from #3731E0 h s 25%);
}

.placeholder-cell {
    background-color: rgb(from #3731E0 r g b / 30%);
    box-shadow: none;
}

.open {
    cursor: pointer;
}

.open:hover {
    scale: 1.05;
}

.open:active {
    scale: 1.1;
}

.cell svg {
    width: 60%;
    height: auto;
}

.cell svg.cross {
    fill: #E07031;
}

.cell svg.circle {
    fill: #53E031;
}

/* form */

form {
    display: flex;
    justify-content: center;
    align-items: end;
    align-self: stretch;
}

#start-btn {
    padding: 14px 36px;
    border: none;
    color: whitesmoke;
    background-color: #049475;
    border-radius: 10px;
    font-size: 1rem;
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.2);
}

#start-btn:hover {
    scale: 1.05;
}

#start-btn:active {
    background-color: hsl(from #049475 h s 25%);
}

input[type="text"] {
    height: 30px;
    width: 0;
    flex: 1;
    max-width: 200px;
    
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 0.9rem;
    margin: 0 10px;
    background-color: gray;
    color: white;
}

/* modal */

dialog {
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #6662e1;
    min-width: 400px;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

#modal-area {
    padding: 30px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-area p {
    margin: 5px;
    color: whitesmoke;
}

#result-heading {
    font-size: 1.5rem;
}

#result-text {
    font-size: 1rem;
}